/* Login.css */

.logo-image { /* ロゴ画像を囲むdivのスタイル */
  text-align: center; /* ロゴを中央に配置 */
}
.app-logo { /* ロゴ画像自体のスタイル */
  max-width: 250px;
  height: auto; /* 縦横比を維持 */
  display: block; /* 余分なスペースを削除 */
  margin: 0 auto;
}

#mail_address, #password {
  width: 250px;
  height: 40px;
  margin-bottom: 0;
}
