/* Memberregist.css */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  box-sizing: border-box; /* paddingを含めて高さを計算 */
  justify-content: center;
  padding: 0; 
}

.signup-title {
  font-size: 2rem;
  font-weight: bold;
  color: #676f74;
  margin-bottom: 40px;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 8px;
}

input[type="date"],
input[type="text"],
input[type="password"] {
  width: 250px;
  height: 36px;
  font-size: 16px;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group-inline {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

label[for="birthday"],
label[for="marriageStart"] {
  width: 80px;
  margin-bottom: 10px;
  white-space: nowrap; /* テキストの折り返しを防ぐ */
}

input#birthday, input#marriage_start {
  width: 200px;
}

input[type="date"],
input[type="text"],
input[type="password"] {
  width: 250px;
  height: 36px;
  font-size: 16px;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input#mail_address {
  margin-top: 20px;
}

input#password2 {
  margin-bottom: 20px;
}

input::placeholder {
  font-size: 14px;
  color: #888;
}
