/* モーダル表示中のスタイル */
#modal-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-content{
    color:#000;
    width:50%;
    padding: 1em;
    background:#fff;
    text-align: left;
}